.sidenav-container {
  height: 100%;
}

mat-sidenav {
  top: 100px;
  width: 200px;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.content {
  padding: 16px;
}
.static {
  position: fixed; /* Makes the navbar fixed */
  top: 0;          /* Sticks the navbar to the top of the viewport */
  width: 100%;     /* Ensures the navbar takes up the full width */
  z-index: 1000;
  background-color: rgb(224, 204, 18);  /* Ensures the navbar stays above other content */
}
.topnav {
  background-color: #db8f0c;
  overflow: hidden;
  padding-left: 500px;
  width: 100%;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
.content{
  top: 100px;
  background-color: black;
}
body{
  color: #db8f0c;
}
